<div class="well">
<h3>{{listing.title}}</h3>
<img class="img img-responsive listing-img" src={{listing.image}}>
<h3>Price: {{listing.price}}</h3>
<h5>Description: {{listing.description}}</h5>
</div>
