<div class="well">
  <h4>Add a New Category to {{category.title}}</h4>
  <form>
    <div class="form-group">
      <label for="title">Enter a Title:</label>
      {{input class="form-control" value=title id="title"}}
    </div>

    <div class="form-group">
      <label for="description">Enter a Description:</label>
      {{input class="form-control" value=description id="description"}}
    </div>
    <button {{action 'saveChildCategory'}} class="btn">Add Category</button>
  </form>
</div>
